<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, VPN!</title>
  </head>
  <body>
    <div class="container">
    <h1>It works!</h1><br>
    <a type="button" href="/generate" class="btn btn-outline-primary btn-lg">Generate!</a>
    <div>
      <br>
    </div>
    {% if error %}
      <div class="alert alert-dismissible alert-danger">
        <h4 class="alert-heading">Error!</h4>
        <p>An error occurred during file generation. Try refreshing the page.</p>
      </div>
    {% endif %}
    {% if key_name %}
      <div>
        <br><h1>VPN key generated!</h1><br>
        <p>Key name: <b>{{ key_name }}</b><br>
        To install vpn run this command:<br><br>
        <samp>export key_name={{ key_name }} && bash <(curl http://vpn/path/gen.sh -s)</samp>
      </div>
    {% endif %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>